<h4 class="title">
    <span>学生管理</span>
</h4>
<table class="table table-striped table_manage" ng-controller='StudentController'>
    <thead>
        <tr>
            <td>编号</td>
            <td>姓名</td>
            <td>性别</td>
            <td>头像</td>
            <td>家庭住址</td>
            <td>家庭联系方式</td>
            <td>宿舍</td>
            <td>班主任</td>
            <td>班级</td>
            <td>年龄</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="student in students">
            <td>{{student.st_id}}</td>
            <td>{{student.st_name}}</td>
            <td>{{student.st_sex}}</td>
            <td>{{student.st_image}}</td>
            <td>{{student.st_address}}</td>
            <td>{{student.st_phone}}</td>
            <td>{{student.st_hostel}}</td>
            <td>{{student.st_tc_id}}</td>
            <td>{{student.st_class_id}}</td>
            <td>{{student.st_age}}</td>
            <td>修改  删除</td>
        </tr>
    </tbody>
</table>