<h4 class="title">
    <span>教师管理</span>
</h4>
<table class="table table-striped table_manage" ng-controller='TeacherController'>
    <thead>
        <tr>
            <td>编号</td>
            <td>姓名</td>
            <td>年龄</td>
            <td>教龄</td>
            <td>座右铭</td>
            <td>头像</td>
            <td>职务</td>
            <td>班级</td>
            <td>联系方式</td>
            <td>家庭住址</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="teacher in teachers">
            <td>{{teacher.tc_id}}</td>
            <td>{{teacher.tc_name}}</td>
            <td>{{teacher.tc_age}}</td>
            <td>{{teacher.tc_sage}}</td>
            <td>{{teacher.tc_motto}}</td>
            <td>{{teacher.tc_image}}</td>
             <td>{{teacher.tc_post}}</td>
            <td>{{teacher.tc_class}}</td>
            <td>{{teacher.tc_telephone}}</td>
            <td>{{teacher.tc_address}}</td>
            <td>修改  删除</td>
        </tr>
    </tbody>
</table>